.mkb-article-feedback-item {
  .mkb-article-feedback-item-inner {
    display: inline-block;
    width: 600px;
    max-width: 90%;
    background: #f5f5f5;
    color: #333333;
    border: 2px solid #eee;
    padding: 1em;
    margin: 1em 0 1em 1em;
    border-radius: 6px;

    h4 {
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}