/**
 * Admin related articles section
 */
.mkb-related-articles {
  min-height: 30px;
}

.mkb-related-articles {
  display: inline-block;
  background: #f0f0f0;
  padding: 1em;
  margin: 1em 0;
  border-radius: 6px;
  min-width: 450px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.12);
}

.mkb-related-articles__item {
  position: relative;
  cursor: move;
  background: #fff;
  padding: 1em 3.5em 1em 2em;
  margin: 0.5em 0;
  border-radius: 6px;
  width: 380px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12);
}

.mkb-no-related-message {
  width: 380px;
  padding: 0 1em;
}

.mkb-related-articles__item-remove {
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  font-size: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: middle;
  margin: auto;
}