/**
 * Client breadcrumbs
 */
.mkb-breadcrumbs {
  position: relative;
  font-size: 1em;
  margin: 1.5em 0;
  background-size: cover;
  background-position :center center;
}

.mkb-breadcrumbs__label {
  position: relative;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.mkb-breadcrumbs__list {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    line-height: 1.7em;
  }
}

.mkb-breadcrumbs-icon.fa {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0.3em;
}